@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #01549A;
  --color-secondary: #EFF8FF;
  --color-borderPrimary: #DADADA;
  
  /* --color-accent: #34a853; */
}




.flexCenter{
  @apply flex justify-center items-center
}
.flexBetween{
  @apply flex justify-between items-center 
}


.imgAnimate::before {
  content: '';
  position: absolute;
  bottom: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
  /* background-color: transparent;  */
  /* Keep the background behind the content */
  transition: all 0.3s ease; /* Smooth transition */  
}

.imgAnimate:hover::before {
  bottom:0;
  z-index: 10;
}



.imgAnimate::after {
  content: ''; 
  position: absolute;
  top: -100%;
  left: 0;
  background-color: green;
  transform: translate(-50%, -50%); /* Center the icon */
  font-size: 2rem; /* Adjust size as needed */
  color: white; /* Icon color */
  opacity: 0; /* Hidden by default */
  transition: opacity 0.3s ease; /* Smooth fade-in */
  z-index: 2; /* Ensure the icon is above the gradient */
}

.imgAnimate:hover::after {
  top:0;
  z-index: 10;
}



/* -----------changing popup------- */
.leaflet-popup-content-wrapper{
background: transparent;
}
















/* ----------------------custom scrollbar--------------- */
.custom-scrollbar::-webkit-scrollbar {
  width: 70px; /* Vertical scrollbar width */
  height: 8px; /* Horizontal scrollbar height */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.2); /* Transparent white scrollbar thumb */
  border-radius: 10px; /* Round the edges */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: transparent; /* Transparent scrollbar track */
}

/* Custom Scrollbar for Firefox */
.custom-scrollbar {
  scrollbar-width: 70px; /* Vertical scrollbar width */
  scrollbar-height: 8px; /* Horizontal scrollbar height */
  scrollbar-color: rgba(255, 255, 255, 0.2) transparent; /* Scrollbar thumb and track colors */
}

/* Hide scrollbar for IE and Edge */
.custom-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
}




/* -------------------------background image-------------------------- */
/* .bg-right-image {
  background-image: url('');
  background-repeat: no-repeat;
  background-position: right center; 
  background-size: contain; 
} */







































/* From Uiverse.io by adamgiebl */ 
#checkbox2 {
  display: none;
}

.toggle2 {
  position: relative;
  width: 32px;
  height: 40px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 7px;
  transition-duration: .5s;
}

.bars {
  width: 100%;
  height: 3px;
  /* background-color: rgb(92, 176, 255); */
  background-color: #01549A;
  border-radius: 6px;
}

#bar5 {
  transition-duration: .8s;
}

#bar4,#bar6 {
  width: 80%;
}

#checkbox2:checked + .toggle2 .bars {
  position: absolute;
  transition-duration: .5s;
}

#checkbox2:checked + .toggle2 #bar5 {
  transform: scaleX(0);
  transition-duration: .5s;
}

#checkbox2:checked + .toggle2 #bar4 {
  width: 100%;
  transform: rotate(45deg);
  transition-duration: .5s;
}

#checkbox2:checked + .toggle2 #bar6 {
  width: 100%;
  transform: rotate(-45deg);
  transition-duration: .5s;
}

#checkbox2:checked + .toggle2 {
  transition-duration: .5s;
  transform: rotate(180deg);
}